DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
JWT_REFRESH_SECRET=
BUNNY_LIBRARY_ID=
BUNNY_STREAM_API_KEY=
BUNNY_CDN_HOSTNAME=
BUNNY_STORAGE_ZONE=
BUNNY_STORAGE_API_KEY=
APP_BASE_DOMAIN=webnarpro.com.br
CORS_ORIGIN=https://webnarpro.professoremersonleite.site
NODE_ENV=production
PORT=3000
LOG_LEVEL=info
